node_modules
target
src/test


# Package Files #
*.jar
*.war
*.ear
*.class

.DS_Store
.classpath
.externalToolBuilders/com.palantir.typescript.typeScriptBuilder.launch
.project
.settings/.jsdtscope
.settings/org.eclipse.a.wst.html.webresources.core.prefs
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.jsdt.ui.prefs
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
.settings/org.eclipse.wst.validation.prefs
.springBeans
.tern-project
src/.DS_Store
src/main/.DS_Store
src/main/frontend/.DS_Store
src/main/java/*
src/main/resources/*
src/main/webapp/
target/classes/floyd/craig/controller/TestController$1.class
target/classes/floyd/craig/controller/TestController$Query.class
target/classes/floyd/craig/controller/TestController.class
target/classes/floyd/craig/model/TestObject.class
target/classes/logback.xml
target/classes/spring/application-config.xml
target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
target/m2e-wtp/web-resources/META-INF/maven/org.springframework/AngularSpringTest/pom.properties
target/m2e-wtp/web-resources/META-INF/maven/org.springframework/AngularSpringTest/pom.xml