<p>Promise Test:</p> 
<div class='row'>
	<div class='col-md-12 text-center'>
		{{promiseTest.state}}
	</div>
</div>
<div class='row'>
	<div class='col-sm-12 text-center'>
		<button type='button' class='btn btn-default' ng-click='promiseTest.begin()' ng-disabled='promiseTest.state > -1'
			ng-class='{"btn-success": promiseTest.state == 0, "btn-primary": promiseTest.state == -1}'>Begin</button>
	</div>
</div>
<div class='row'>
	<div class='col-sm-3'>
		{{promiseTest.step1}}
	</div>
	<div class='col-sm-3'>
		<label for='step1resolve'>
			<input id='step1resolve' type='checkbox' ng-model='promiseTest.step1' ng-true-value="'resolve'"/>
			Resolve
		</label>
	</div>
	<div class='col-sm-3'>
		<label for='step1reject'>
			<input id='step1reject' type='checkbox' ng-model='promiseTest.step1' ng-true-value="'reject'"/>
			Reject
		</label>
	</div>
	<div class='col-sm-3'>
		<label for='step1throw'>
			<input id='step1throw' type='checkbox' ng-model='promiseTest.step1' ng-true-value="'throw'"/>
			Throw
		</label>
	</div>
</div>
{{results}}